body {
  box-sizing: border-box;
  font-family: sans-serif;
}

textarea {
  /** Do not set height - automatically calculated based on rows. */
  white-space: nowrap;
  width: 95%;
}

section {
  padding: 5px;
}

input[type='button'] {
  background-color: #777;
  border: solid 1px black;
  color: white;
  cursor: pointer;
  margin: 8px 0;
  outline: none;
  padding: 5px;
}

input[type='button']:hover {
  filter: brightness(90%);
}

input[type='button']:disabled {
  cursor: default;
  filter: brightness(90%);
  opacity: 0.2;
}

section.module {
  background: #f9f9f9;
  border: solid 1px grey;
  margin-bottom: 30px;

  pre {
    margin: 0;
    margin-bottom: 8px;
  }

  h3 {
    margin-bottom: 12px;
    margin-top: 0;
  }

  h4 {
    margin-bottom: 12px;
    margin-top: 0;
  }

  h5 {
    margin-bottom: 10px;
    margin-top: 0;
  }
}

input[type='button'].module-button {
  background-color: lightgray;
  margin: 2px;
}

input[type='button'].module-button-active {
  background-color: #777;
}

#modules-table {
  width: 100%;

  td {
    margin: 12px;
    min-width: 40%;
    vertical-align: top;
  }
}

.config-preview {
  font-family: monospace;
  margin-bottom: 8px;
}

.config-preview-key,
.config-preview-sep {
  color: gray;
}

.config-preview-key-with-tooltip {
  position: relative;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}

.config-preview-key-with-tooltip .config-preview-tooltip {
  background-color: #777;
  bottom: 100%;
  color: white;
  font-family: sans-serif;
  left: 20px;
  min-width: 200px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  visibility: hidden;
  z-index: 1;
}

.config-preview-key-with-tooltip:hover .config-preview-tooltip {
  opacity: 1;
  visibility: visible;
}

pre.config-description {
  font-family: sans-serif;
  font-size: small;
}

.error {
  color: red;
}

pre {
  white-space: break-spaces;
}

h1 {
}

h2 {
  border-bottom: solid 2px black;
}

h3 {
}

h4 {
}

h5 {
}
